.hamburger-menu {
    display: none;
    cursor: pointer;

    @media (max-width: $breakpoint-mobile) {
        display: flex !important;
        position: relative;
    }
}

.hamburger-menu-content {
    color: #fff;
    top: 0;
    position: absolute;
    z-index: 100;
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: $secondary-color;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .action-bar {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        padding: 16px;
        align-items: center;

        .btn-close {
            opacity: .8 !important;
        }
       
        .diviser {
            width: 1px;
            background-color: #fff;
            margin: 0px 16px;
            height: 18px;
        }
    }
}
