.background-image-custom {
  background-image: url("../assets/home/Cenefa_agendamiento.png");
  background-size: auto;
  max-width: 100%;
  max-height: 461px;
  height: 100%;
}

.header-home {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-bottom: 28px;
  text-align: center;

  .header-custom {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navbar-custom {
      display: flex;
      gap: 32px;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        line-height: normal;

        &:hover {
          box-shadow: 0px 3px 0px 0px $secondary-color;
        }
      }
    }
    .btn-actions-group {
      display: flex;
      gap: 15px;
      align-items: center;

      .icon-search {
        display: flex;
        flex-direction: row;

        .diviser {
          width: 1px;
          background-color: #fff;
          margin-left: 8px;
          height: 18px;
          margin-top: auto;
          margin-bottom: auto;
        }

        svg {
          cursor: pointer;
          padding: 2px;
          color: #fff;
        }
      }
    }
  }

  .diviser {
    width: 1px;
    background-color: #fff;
    margin-left: 8px;
    height: 18px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .title-home {
    display: flex;
    flex-direction: column;
  }

  .actions-home {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;

    .date-label {
      width: 428px;
      height: 51.097px;
      border-radius: 8px;
      background: $secondary-color;
      display: flex;
      flex-direction: row;
      font-weight: 400;
      justify-content: space-between;
      align-items: center;
      padding: 15px 80px;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    .header-custom {
      flex-direction: row;
      gap: 20px;
      align-items: center;

      img {
        margin-bottom: 0px !important;
      }
    }

    .btn-actions-group {
      display: none !important;
    }

    .navbar-custom {
      display: none !important;
    }
    .text-03 {
      margin-bottom: 16px;
    }

    .date-label {
      width: 100% !important;
      padding: 15px 30px !important;
      justify-content: space-evenly !important;
    }

    .input-custom {
      display: none;
    }
    .title-home{
      .text-04 {
        display: block;
      }
    }

    .text-04 {
      display: none;
    }
  }
}

.landing-form-home {
  background-image: url("../assets/home/Imagen_header.png");
  max-height: 867px;
  height: 867px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 260px;
  padding-left: 20%;
  padding-right: 10%;
  margin-bottom: 160px;

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }

  .landing-title {
    display: flex;
    width: 589px;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    gap: 20px;
  }

  .landing-container-form {
    width: 522px;
    height: 586px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 16px;

    .x-icon {
      color: $secondary-color;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 45px;
    }

    .landing-form {
      padding: 46px;

      .subtitle-form {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 64px;
      }

      .inputs-group {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: flex-start;
      }

      button {
        width: 100% !important;
        text-transform: uppercase;
      }
    }
  }
}

.home-body {
  @media (max-width: $breakpoint-mobile) {
    display: none !important;
  }
}

.diviser-02 {
  width: 1px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: #fff;
  height: 18px;
  margin-top: auto;
  margin-bottom: auto;
}
