.background-image-custom {
  background-image: url("/src/assets/home/Cenefa_agendamiento.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: auto;
  height: 100%;

  @media (max-width: $breakpoint-mobile) {
    background-image: url("/src/assets/home/background_mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    max-height: 700px;
  }
}

.header-home {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-bottom: 28px;
  text-align: center;

  .header-custom {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navbar-custom {
      display: flex;
      gap: 32px;

      .link-home {
        font-weight: bold;
        position: relative;

        &:hover {
          box-shadow: none;
        }

        &::after {
          content: "";
          position: absolute;
          width: 50%; /* Ancho de la línea */
          height: 3px; /* Grosor de la línea */
          background-color: $secondary-color; /* Color de la línea */
          bottom: -4px; /* Ajusta la posición vertical de la línea */
          left: 0; /* Posición horizontal de la línea */
        }
      }

      a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        line-height: normal;

        &:hover {
          box-shadow: 0px 3px 0px 0px $secondary-color;
        }
      }
    }
    .btn-actions-group {
      display: flex;
      gap: 15px;
      align-items: center;

      .icon-search {
        display: flex;
        flex-direction: row;

        .diviser {
          width: 1px;
          background-color: #fff;
          margin-left: 8px;
          height: 18px;
          margin-top: auto;
          margin-bottom: auto;
        }

        svg {
          cursor: pointer;
          padding: 2px;
          color: #fff;
        }
      }
    }
  }

  .diviser {
    width: 1px;
    background-color: #fff;
    margin-left: 8px;
    height: 18px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .title-home {
    display: flex;
    flex-direction: column;
  }

  .actions-home {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;

    .date-label {
      width: 428px;
      height: 51.097px;
      border-radius: 8px;
      background: $secondary-color;
      display: flex;
      flex-direction: row;
      font-weight: 400;
      justify-content: space-between;
      align-items: center;
      padding: 15px 80px;
    }

    .inputs-group-header {
      display: flex;
      flex-direction: row;
      gap: 24px;

      .text-04 {
        display: none;
      }
    }
  }

  .dropdown-group {
    display: none;
  }

  @media (max-width: $breakpoint-mobile) {
    position: relative;
    padding-bottom: 60px;

    .header-custom {
      flex-direction: row;
      gap: 20px;
      align-items: center;

      img {
        margin-bottom: 0px !important;
      }
    }

    .btn-actions-group {
      display: none !important;
    }

    .navbar-custom {
      display: none !important;
    }
    .text-03 {
      margin-bottom: 16px;
    }

    .date-label {
      width: 100% !important;
      padding: 15px 30px !important;
      justify-content: space-evenly !important;
    }
    .title-home {
      .text-04 {
        display: block;
      }
    }

    .text-04 {
      display: none;
    }

    .actions-home {
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;

      .inputs-group-header {
        width: 100%;
        flex-direction: column;
        height: 215px;
        align-items: center;
        justify-content: flex-end;
        display: none;

        .input-custom {
          width: 100% !important;

          input {
            width: 100%;
          }
        }

        .text-04 {
          display: block;
        }

        // display: none;
      }
    }

    .dropdown-group {
      display: flex;
      .dropdown-custom {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -23px;
        margin: auto;
      }

      .dropdown-open {
        display: block;
      }

      .dropdown-close {
        display: none;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        left: 0;
        right: 0;
        svg {
          color: #fff;
        }
      }
    }
  }
}

.landing-form-home {
  background-image: url("/src/assets/home/Imagen_header.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 867px;
  height: 867px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 260px;
  padding-left: 20%;
  padding-right: 10%;
  margin-bottom: 160px;

  

  .landing-title {
    display: flex;
    width: 589px;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    gap: 20px;
  }

  .btn-learn-more {
    display: none;
  }

  @media (max-width: $breakpoint-mobile) {
    height: 500px;
    width: 100%;
    padding: 10% 18%;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center center; /* Centra la imagen horizontal y verticalmente */
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    margin-bottom: 16px;

    .landing-container-form {
      display: none;
    }

    .landing-title {
      align-items: center;
      width: 100%;
    }

    .btn-learn-more {
      display: flex;
    }
  }
}

.home-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;

  

  .cards-collage {
    width: 100%;
    display: flex;
    flex-direction: row;

    .cards-collage-content {
      width: 100%;
      display: flex;
      gap: 4rem;
      justify-content: center;
      flex-direction: row;
    }
  }

  .cards-blog-group {
    width: 100%;
    display: flex;
    gap: 3rem;
    justify-content: center;
  }

  @media (max-width: $breakpoint-mobile) {
    background-color: #fff;
    padding: 3%;
    gap: 3rem;

    .cards-collage {
      flex-direction: column;

      .cards-collage-content {
        flex-direction: column;
        gap: 3rem;
      }
    }

  

    .cards-blog-group {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }
  }
}

.diviser-02 {
  width: 1px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: #fff;
  height: 18px;
  margin-top: auto;
  margin-bottom: auto;
}


