.input-custom {
  position: relative;
  input {
    background-color: transparent;
    border: none;
    box-shadow: 0px 2px 0px 0px $secondary-color;
    color: #fff;
    height: 22px;

    &::placeholder {
      color: #fff;
      text-align: left;
      font-family: $font-family-lora;
      font-size: 18px;
      font-style: normal;
      line-height: normal;
      margin: 0;
      padding: 0;
      font-weight: 400;
    }

    &:focus {
      outline: none;
    }
  }

  .icon-input-custom {
    position: absolute;
    right: 0;
    top: -4px;
  }
}

.input-form-home {
  input {
    background-color: transparent;
    border: none;
    box-shadow: 0px 1px 0px 0px #92a5b8;
    width: 100%;

    &::placeholder {
      color: #92a5b8;
      font-family: $font-family-hind-madurai;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &:focus {
      outline: none;
    }
  }
}

.radio-button-home {
  width: 15px !important;
}

.inputs-group-pre-register {
  input {
    border: none;
    border-bottom: 1px solid #92a5b8;
    width: 100%;

    &:focus {
      outline: none !important;
    }
  }
  label {
    white-space: nowrap;
    margin-right: 8px;
    color: #92a5b8;
    font-family: $font-family-hind-madurai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .input-item {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  @media (max-width: $breakpoint-mobile) {
    .pre-register-form {
      max-width: 327px;
    }
  }
}

.input-blog-article {
  input {
    display: flex;
    width: 335px;
    height: 70px;
    padding: 19px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
  }
}
