.rewards {
  .header-custom {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navbar-custom {
      display: flex;
      gap: 32px;

      .link-rewards {
        font-weight: bold;
        position: relative;

        &:hover {
          box-shadow: none;
        }

        &::after {
          content: "";
          position: absolute;
          width: 50%; /* Ancho de la línea */
          height: 3px; /* Grosor de la línea */
          background-color: $secondary-color; /* Color de la línea */
          bottom: -4px; /* Ajusta la posición vertical de la línea */
          left: 0; /* Posición horizontal de la línea */
        }
      }

      a {
        text-decoration: none;
        color: $primary-color;
        font-size: 16px;
        line-height: normal;

        &:hover {
          box-shadow: 0px 3px 0px 0px $secondary-color;
        }
      }
    }

    @media (max-width: $breakpoint-mobile) {
      .navbar-custom {
        display: none;
      }

      .btn-actions-group {
        display: none;
      }
    }
  }
  .btn-actions-group {
    display: flex;
    gap: 15px;
    align-items: center;

    .icon-search {
      display: flex;
      flex-direction: row;

      svg {
        cursor: pointer;
        padding: 2px;
        color: #fff;
        fill: $secondary-color;
      }
    }

    .diviser {
      width: 1px;
      background-color: $secondary-color;
      margin-left: 8px;
      height: 18px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .header-background {
    background-image: url("/src/assets/rewards/Header\ Rewards.png");
    width: 100%;
    height: 704px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .rewards-body {
  }

  .collage-points {
    background-color: #fafafa;
    padding: 22px 17px 22px 18px;
    gap: 18px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .collage-points-item {
      width: 100%;
      display: flex;
      padding: 30px 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex: 1 0 0;
      align-self: stretch;
      border-radius: 6px;
      background: #fff;

      .box-point {
        display: flex;
        padding: 7px 18px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 3px;
        border: 1px solid #4c374a;
        background: var(--White, #fff);
      }
    }
  }

  .rewards-banner {
    background-image: url("/src/assets/about-us/Cenefa.png");
    width: 100%;
    height: 357px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;

    button {
      width: 398px;
      @media (max-width: $breakpoint-mobile) {
        width: 100%;
        max-width: 300px;
      }
    }

    @media (max-width: $breakpoint-mobile) {
      .text-03-01 {
        text-align: center;
        font-size: 24px;
        font-style: italic;
        font-weight: 700;
        line-height: 26px; /* 108.333% */
      }
    }
  }

  .rewards-bonus-points {
    img {
      min-width: 751px !important;
    }
    @media (max-width: $breakpoint-mobile) {
      img {
        min-width: 0px !important;
        max-width: 327px;
        max-height: 353px;
      }
    }
  }
}

.stepper-custom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 640px; /* Ancho de la línea */
    height: 1px; /* Grosor de la línea */
    background-color: $secondary-color; /* Color de la línea */
    top: 6px; /* Ajusta la posición vertical de la línea */
    left: 80px; /* Posición horizontal de la línea */
    z-index: -1;
  }

  .stepper-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 16px;
      height: 16px;
      position: relative;

      svg {
        position: absolute;
        z-index: 1;
      }
    }
  }

  span {
    color: #555;
    text-align: center;
    font-family: $font-family-lora;
    font-size: 17px;
    font-style: italic;
    font-weight: 500;
    line-height: 20px; /* 117.647% */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;

    margin-top: 20px;
  }

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    gap: 20px;

    &::after {
      width: 0px; /* Ancho de la línea */
    }

    svg {
      display: none;
    }

    .stepper-item {
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.diviser-horizontal {
  margin: 20px 0px;
  width: 100%;
  border-bottom: 1px solid #92a5b8;
}
