.select-custom-home {
  select {
    width: 100%; /* Ancho personalizado */
    padding: 10px; /* Espaciado interno */
    background-color: transparent; /* Color de fondo */
    outline: none;
    color: #fff;
    text-align: center;
    font-family: $font-family-lora;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px; /* 100% */
    border: none;
  }

  option {
    font-size: 14px; /* Tamaño de fuente de las opciones */
    background-color: #fff; /* Color de fondo de las opciones */
    color: #333; /* Color del texto de las opciones */
  }
}

.select-form-home {
  position: relative;
  width: 100%;
  select {
    width: 100%; /* Ancho personalizado */
    background-color: transparent; /* Color de fondo */
    outline: none;
    color: #fff;
    text-align: left;
    font-family: $font-family-lora;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    box-shadow: 0px 2px 0px 0px $secondary-color;
    border: none;
  }

  option {
    font-size: 14px; /* Tamaño de fuente de las opciones */
    background-color: #fff; /* Color de fondo de las opciones */
    color: #333; /* Color del texto de las opciones */
  }

  .icon-input-custom {
    position: absolute;
    right: 25px;
    top: 0px;
  }
}

.select-custom-pre-register-01 {
  select {
    width: 100%; /* Ancho personalizado */
    background-color: transparent; /* Color de fondo */
    outline: none;
    line-height: normal;
    border: none;
    color: $secondary-color;
    font-family: $font-family-lora;
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
  }

  option {
    font-size: 14px;
    background-color: #fff;
    color: #333;
  }
}

.select-custom-pre-register-02 {
  select {
    width: 100%;
    background-color: transparent;
    outline: none;
    line-height: normal;
    border: none;
    font-family: $font-family-lora;
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    color: #92A5B8;
  }

  option {
    font-size: 14px;
    background-color: #fff;
    color: #333;
  }
}
