<section id="about-us" class="about-us slide-in-right">
    <div class="header-custom d-flex flex-column">
        <div class="container w-100 d-flex align-items-center justify-content-between mb-4">
            <img src="/src/assets/about-us/Logo_Air_Algeriedd.png" alt="loguito" class="mb-4" width="222px"
                height="46px" />
            <div class="navbar-custom">
                <a href="#/">Home</a>
                <a href="#/about-us" class="link-about-us">About Us</a>
                <a href="#/pre-register">Preregister</a>
                <a href="#/rewards">Rewards</a>
                <a href="#/blog">Blog</a>
            </div>
            <div class="btn-actions-group">
                <div class="icon-search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                    
                </div>
                <div class="diviser"></div>
                <button class="btn-secondary-custom">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20" fill="none">
                        <path
                            d="M5.22063 13.0012V18C5.22063 18.5523 5.66835 19 6.22063 19H14.2129C14.7652 19 15.2129 18.5523 15.2129 18V2C15.2129 1.44772 14.7652 1 14.2129 1H8.22063C6.56378 1 5.22063 2.34315 5.22063 4V5.98435M0.785156 13.9711V12.4961C0.785156 10.8392 2.1283 9.49606 3.78516 9.49606H10.7739M9.80688 7.50357L11.8328 9.55465L9.80688 11.5996"
                            stroke="#00705D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="text-02">Check-In</span>
                </button>
                <div class="position-relative">
                    <button class="btn-primary-custom" id="btn-login">
                        <span class="text-01">LOGIN</span>
                    </button>
                    <div class="landing-container-form" id="login-form">
                        <div class="x-icon" id="btn-close-login-form">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path
                                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                            </svg>
                        </div>
                        <div class="landing-form">
                            <div class="subtitle-form">
                                <span class="text-05 mb-2">welcome to CARIBBEAN SPRINTER!</span>
                                <span class="text-06">* Required fields </span>
                            </div>
                            <div class="inputs-group input-form-home mb-2 align-items-center">
                                <input type="text" placeholder="Username *">
                                <div class="d-flex flex-column align-items-start w-100">
                                    <input type="text" placeholder="Password *" />
                                    <div class="mt-2 d-flex flex-row gap-1 ">
                                        <input type="radio" placeholder="Password *"
                                            class="shadow-none radio-button-home">
                                        <span class="text-06">Stay connected</span>
                                    </div>
                                </div>
                                <button class="btn-primary-custom">Enter</button>
                            </div>
                            <div class="d-flex flex-row justify-content-center">
                                <span class="text-06">Sign-Up</span>
                                <span class="text-06 ms-3 me-3">|</span>
                                <span class="text-06">Forgot your password?</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-background">
            
        </div>

</section>