<section id="pre-register" class="pre-register slide-in-right">
    <div class="header-custom d-flex flex-column">
        <div class="container w-100 d-flex align-items-center justify-content-between mb-4">
            <img src="/src/assets/icons/Logo_Air_Algeriedd.png" alt="loguito" class="mb-4" width="222px"
                height="46px" />
            <div class="navbar-custom">
                <a href="#/">Home</a>
                <a href="#/about-us">About Us</a>
                <a href="#/pre-register" class="link-pre-register">Preregister</a>
                <a href="#/rewards">Rewards</a>
                <a href="#/blog">Blog</a>
            </div>
            <div class="btn-actions-group">
                <div class="icon-search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>

                </div>
                <div class="diviser"></div>
                <button class="btn-secondary-custom">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20" fill="none">
                        <path
                            d="M5.22063 13.0012V18C5.22063 18.5523 5.66835 19 6.22063 19H14.2129C14.7652 19 15.2129 18.5523 15.2129 18V2C15.2129 1.44772 14.7652 1 14.2129 1H8.22063C6.56378 1 5.22063 2.34315 5.22063 4V5.98435M0.785156 13.9711V12.4961C0.785156 10.8392 2.1283 9.49606 3.78516 9.49606H10.7739M9.80688 7.50357L11.8328 9.55465L9.80688 11.5996"
                            stroke="#00705D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="text-02">Check-In</span>
                </button>
                <div class="position-relative">
                    <button class="btn-primary-custom" id="btn-login">
                        <span class="text-01">LOGIN</span>
                    </button>
                    <div class="landing-container-form" id="login-form">
                        <div class="x-icon" id="btn-close-login-form">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path
                                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                            </svg>
                        </div>
                        <div class="landing-form">
                            <div class="subtitle-form">
                                <span class="text-05 mb-2">welcome to CARIBBEAN SPRINTER!</span>
                                <span class="text-06">* Required fields </span>
                            </div>
                            <div class="inputs-group input-form-home mb-2 align-items-center">
                                <input type="text" placeholder="Username *">
                                <div class="d-flex flex-column align-items-start w-100">
                                    <input type="text" placeholder="Password *" />
                                    <div class="mt-2 d-flex flex-row gap-1 ">
                                        <input type="radio" placeholder="Password *"
                                            class="shadow-none radio-button-home">
                                        <span class="text-06">Stay connected</span>
                                    </div>
                                </div>
                                <button class="btn-primary-custom">Enter</button>
                            </div>
                            <div class="d-flex flex-row justify-content-center">
                                <span class="text-06">Sign-Up</span>
                                <span class="text-06 ms-3 me-3">|</span>
                                <span class="text-06">Forgot your password?</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pre-register-body mb-4 ps-4 pe-4">
        <div class="d-flex flex-md-row  flex-column container align-items-center gap-3">
            <div class="d-flex flex-column gap-3">
                <div class="d-flex flex-column gap-md-2 gap-4 mb-4 text-md-start text-center">
                    <span class="text-h1-02">Welcome to our Online <br>
                        Preregistration:</span>
                    <span class="text-06-02">Caribbean Sprinter's faster and easier option!</span>
                    <span class="text-01-02"> * Preregistering each passenger in your group will save you time waiting
                        in
                        line at the terminal to purchase tickets</span>
                </div>
                <div class="d-flex flex-column  gap-md-5 gap-3 text-md-start text-center align-items-md-start align-items-center">
                    <span class="text-03-02">
                        IMPORTANT INFORMATION
                    </span>

                    <div class="box-transparent">
                        <div class="img-container">
                            <img src="/src/assets/pre-register/Icono_information_1.png" alt="">
                        </div>
                        <span class="text-06-03">The Port Authority requires certain passenger information that must be
                            collected for
                            disclosure to them; the Port Authority maintains no published data protection guidelines,
                            priciples or protocols.</span>
                    </div>
                    <div class="box-transparent">
                        <div class="img-container">
                            <img src="/src/assets/pre-register/Icono_information_2.png" alt="">
                        </div>
                        <span class="text-06-03">For passengers with disabilities needing assistance with the
                            preregistration process, please reach out to customer service and they will be happy to
                            assist.</span>
                    </div>
                    <div class="box-transparent">
                        <div class="img-container">
                            <img src="/src/assets/pre-register/Icono_information_3.png" alt="">
                        </div>
                        <span class="text-06-03">After completing preregistration, you will receive a code used by a
                            ticket agent to pre-popuilate and confirm your data. Preregistration is only necessary once.
                            Subsequent sailings will reference your Passenger Profile Data on file.</span>
                    </div>
                </div>


            </div>
            <div>
            </div>
            <div class="pre-register-form">
                <div class="d-flex flex-column gap-4">
                    <span class="text-06" style="color: #000;">FILL OUT THIS FORM</span>
                    <span class="text-01-03">Belize City</span>
                    <span class="text-06" style="color: #000;">DEPARTING</span>
                    <div class="icon-departing">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M6 1V15L1 10.3333M10 15V1L15 5.66667" stroke="black" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <span class="text-06" style="color: #000;">DESTINATION</span>
                    <span class="text-01-03" style="color: #92A5B8;">SAN PEDRO</span>
                </div>
                <div class="diviser-horizontal">

                </div>
                <div class="inputs-group-pre-register d-flex flex-column justify-content-center gap-3">

                    <div class="input-item">
                        <label for="fullname">Full Name *</label>
                        <input name="fullname" type="text">
                    </div>

                    <div class="input-item">
                        <label for="email">Email Address *</label>
                        <input name="email" type="text">
                    </div>

                    <div class="input-item">
                        <label for="cel">Telephone *</label>
                        <input name="cel" type="text">
                    </div>

                    <div class="input-item">
                        <label for="company">Company Name</label>
                        <input name="company" type="text">
                    </div>

                    <div class="input-item">
                        <label for="postal">Postal Address *</label>
                        <input name="postal" type="text">
                    </div>

                    <div class="input-item">
                        <label for="country">Country (Choose) *</label>
                        <input name="country" type="text">
                    </div>

                    <div class="input-item">
                        <label for="city">City *</label>
                        <input name="city" type="text">
                    </div>

                    <div class="input-item">
                        <label for="region">Region *</label>
                        <input name="region" type="text">
                    </div>

                    <div class="input-item">
                        <label for="postalcode">Postal Code *</label>
                        <input name="postalcode" type="text">
                    </div>
                    <div class="d-flex flex-row gap-2 align-items-center justify-content-between">
                        <div class="d-flex flex-row gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20"
                                fill="none">
                                <path
                                    d="M1 6.50508H21M4.01099 2.50004V2C4.01099 1.72386 4.23484 1.5 4.51099 1.5H17.4878C17.7639 1.5 17.9878 1.72386 17.9878 2V2.50004M4.98834 9.00006H5.03295M4.96603 12.1079H5.01064M4.94379 15.2158H4.9884M9.03296 9.00006H9.07757M9.01065 12.1079H9.05526M8.98834 15.2158H9.03295M13.0776 9.00006H13.1222M13.0553 12.1079H13.0999M13.033 15.2158H13.0776M17.1222 9.00006H17.1668M17.0999 12.1079H17.1445M17.0776 15.2158H17.1222M3 18.5H19C20.1046 18.5 21 17.6046 21 16.5V4.5C21 3.39543 20.1046 2.5 19 2.5H3C1.89543 2.5 1 3.39543 1 4.5V16.5C1 17.6046 1.89543 18.5 3 18.5Z"
                                    stroke="#92A5B8" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>

                            <label for="">Birthday</label>
                        </div>
                        <div class="d-flex flex-row input-date">
                            <div class="icon-calendar-custom" id="date-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <path
                                        d="M17 10L12.3536 14.6464C12.1583 14.8417 11.8417 14.8417 11.6464 14.6464L7 10"
                                        stroke="black" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="diviser-horizontal">
                    </div>
                    <button class="btn-primary-custom" style="width: 100%;">
                        <span class="text-01">Submit</span>
                    </button>
                </div>
            </div>


        </div>
    </div>
    <div class="security-section">
        <span class="text-07">Your Travels with Caribbean Sprinter will Be an unforgettable
            experience!</span>
        <img src="/src/assets/home/Logo_Secure_globalsign.png" alt="" width="156px">
    </div>
    <div class="w-100 d-flex align-items-center flex-column payment-methods mb-4">
        <span class="text-08 mb-2">Payment methods</span>
        <div class="d-flex flex-row gap-1">
            <img src="/src/assets/home/Logo_VISA.png" alt="">
            <img src="/src/assets/home/Logo_Mastercard.png" alt="">
            <img src="/src/assets/home/Logo_American_Express.png" alt="">
            <img src="/src/assets/home/Logo_Diners_Club.png" alt="">
        </div>
    </div>


    <footer>
        <div class="footer-content">
            <div class="d-flex flex-column justify-content-center">
                <img src="/src/assets/icons/test.svg" alt="" class="mb-2">
                <div class="d-flex flex-row gap-3 justify-content-center ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="none">
                        <path
                            d="M18.0477 36.3571C28.0152 36.3571 36.0954 28.2769 36.0954 18.3094C36.0954 8.34195 28.0152 0.261719 18.0477 0.261719C8.08023 0.261719 0 8.34195 0 18.3094C0 28.2769 8.08023 36.3571 18.0477 36.3571Z"
                            fill="white" />
                        <path
                            d="M23.7509 11.6602C23.498 11.6602 23.2553 11.7606 23.0765 11.9395C22.8976 12.1184 22.7971 12.361 22.7971 12.6139C22.7992 12.8656 22.9006 13.1061 23.0792 13.2833C23.2579 13.4605 23.4993 13.5599 23.7509 13.5599C24.0018 13.5599 24.2424 13.4603 24.4198 13.2828C24.5972 13.1054 24.6969 12.8648 24.6969 12.6139C24.6969 12.3623 24.5975 12.1209 24.4203 11.9423C24.2431 11.7636 24.0025 11.6622 23.7509 11.6602Z"
                            fill="#054063" />
                        <path
                            d="M18.5224 12.6101C17.1377 12.6131 15.8104 13.2145 14.8313 14.2826C13.8521 15.3508 13.3008 16.7987 13.2981 18.3094C13.3008 19.82 13.8521 21.2679 14.8313 22.3361C15.8104 23.4043 17.1377 24.0057 18.5224 24.0087C19.908 24.0087 21.2368 23.4082 22.2166 22.3394C23.1963 21.2706 23.7468 19.8209 23.7468 18.3094C23.7468 16.7978 23.1963 15.3482 22.2166 14.2794C21.2368 13.2106 19.908 12.6101 18.5224 12.6101ZM18.5224 21.9565C17.6366 21.9535 16.7878 21.5683 16.1614 20.885C15.535 20.2017 15.182 19.2757 15.1793 18.3094C15.1793 17.3421 15.5315 16.4145 16.1585 15.7305C16.7854 15.0465 17.6358 14.6623 18.5224 14.6623C18.9618 14.6608 19.3972 14.7541 19.8034 14.9369C20.2096 15.1197 20.5787 15.3883 20.8894 15.7272C21.2001 16.0662 21.4463 16.4688 21.6138 16.912C21.7814 17.3551 21.867 17.83 21.8656 18.3094C21.8656 19.2766 21.5134 20.2043 20.8864 20.8883C20.2594 21.5722 19.4091 21.9565 18.5224 21.9565Z"
                            fill="#054063" />
                        <path
                            d="M22.2189 28.7581H13.8761C12.2113 28.7581 10.6146 28.0958 9.43743 26.9169C8.26021 25.738 7.59888 24.139 7.59888 22.4718V14.1471C7.59888 12.4799 8.26021 10.8809 9.43743 9.70202C10.6146 8.5231 12.2113 7.86078 13.8761 7.86078H22.2189C23.883 7.86345 25.4781 8.52664 26.6547 9.70498C27.8314 10.8833 28.4936 12.4807 28.4962 14.1471V22.502C28.4856 24.1632 27.8199 25.7529 26.6441 26.9247C25.4683 28.0965 23.8777 28.7555 22.2189 28.7581ZM13.8761 9.79816C12.7341 9.80882 11.643 10.2727 10.8421 11.088C10.0412 11.9033 9.59591 13.0035 9.60397 14.1471V22.502C9.60397 23.6474 10.0583 24.7459 10.867 25.5558C11.6758 26.3657 12.7727 26.8207 13.9164 26.8207H22.2593C23.403 26.8207 24.4999 26.3657 25.3086 25.5558C26.1174 24.7459 26.5717 23.6474 26.5717 22.502V14.1471C26.5717 13.0017 26.1174 11.9033 25.3086 11.0933C24.4999 10.2834 23.403 9.82843 22.2593 9.82843L13.8761 9.79816Z"
                            fill="#054063" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="none">
                        <g clip-path="url(#clip0_973_2786)">
                            <path
                                d="M36.7142 18.2848C36.7142 13.4354 34.7878 8.7846 31.3587 5.35553C27.9296 1.92646 23.2788 0 18.4294 0C13.5799 0 8.9291 1.92646 5.50003 5.35553C2.07096 8.7846 0.144531 13.4354 0.144531 18.2848C0.14461 22.6389 1.69756 26.8502 4.52428 30.162C7.35101 33.4737 11.2662 35.6688 15.5662 36.3526V23.5667H10.9252V18.2848H15.5662V14.2537C15.5662 9.67474 18.295 7.14235 22.4812 7.14235C23.8664 7.16016 25.2484 7.28109 26.6157 7.50413V12.0004H24.3107C23.9176 11.9478 23.5177 11.9842 23.1406 12.1069C22.7635 12.2297 22.4188 12.4356 22.132 12.7095C21.8452 12.9834 21.6237 13.3182 21.4837 13.6893C21.3438 14.0604 21.289 14.4581 21.3235 14.8532V18.2848H26.3986L25.582 23.5667H21.3235V36.3526C25.6179 35.6621 29.5258 33.4642 32.3462 30.1531C35.1667 26.842 36.7153 22.6344 36.7142 18.2848Z"
                                fill="white" />
                            <path
                                d="M25.5406 23.5667L26.3572 18.2848H21.2821V14.8532C21.2476 14.4581 21.3023 14.0603 21.4423 13.6893C21.5822 13.3182 21.8038 12.9834 22.0906 12.7095C22.3774 12.4356 22.7221 12.2296 23.0992 12.1069C23.4763 11.9842 23.8762 11.9478 24.2692 12.0004H26.5742V7.50411C25.207 7.28107 23.825 7.16014 22.4397 7.14233C18.2536 7.14233 15.5248 9.67472 15.5248 14.2537V18.2848H10.8838V23.5667H15.5248V36.3526C16.4722 36.4983 17.4294 36.5709 18.3879 36.5696C19.343 36.5709 20.2968 36.4983 21.2407 36.3526V23.5667H25.5406Z"
                                fill="#054063" />
                        </g>
                        <defs>
                            <clipPath id="clip0_973_2786">
                                <rect width="36.5697" height="36.5697" fill="white" transform="translate(0.144531)" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-start footer-item">
                <span class="footer-title">Company</span>
                <span class="footer-text">Company</span>
                <span class="footer-text">Company</span>
            </div>
            <div class="d-flex flex-column justify-content-start footer-item">
                <span class="footer-title">Service</span>
                <span class="footer-text">Preregister</span>
                <span class="footer-text">Rewards</span>
                <span class="footer-text">Check-In</span>
            </div>
            <div class="d-flex flex-column justify-content-start footer-item">
                <span class="footer-title">Office</span>
                <span class="footer-text">Caribbean Sprinter LTD
                    10 North Front Street
                    Belize City, Belize</span>
                <span class="footer-text">+501 613-2032</span>
                <span class="footer-text">bookings@sprinter.bz</span>
            </div>
            <div class="terms-conditions-mobile">
                <span class="footer-text">Terms & Conditions <br>
                    Notice & Privacy Policy <br>
                    Cookies Policy</span>
            </div>
        </div>
        <div class="footer-bar">
            <span>© 2023 Caribbean Sprinter LTD or its affiliates</span>
            <div>
                <span class="terms-conditions-desktop">Terms & Conditions | Notice & Privacy Policy | Cookies
                    Policy</span>
            </div>
        </div>
    </footer>

</section>