<div class="slide-in-right">
<span class="text-06-04">
    What’s at the Bottom of the Great Blue Hole?

    In 2018, a crew from Aquatica Submarines descended to its bottom. At the beginning of their descend, they encountered animals like sharks and turtles as well as giant coral branches. Though, 90 meters in they found an entire layer of hydrogen sulfide, which makes it a very hostile environment for marine life. Then, another 30 meters deeper, they found stalactites (deposits of calcium carbonate resembling an icicle hanging from the roof or sides of a cave) which by definition means the Great Blue Hole was once a cavern formed about 14,000 years ago!
    Its bottom is simply a very dark and peaceful place. But don’t be fooled! During the years, three people have disappeared while swimming in these waters and two of those bodies rest in the bottom with the company of -we’re sorry to say- some plastic bottles and other objects left behind. 
    
    

</span>
</div>