<div class="body-center blog-content d-flex flex-column  justify-content-center gap-5 slide-in-right">
    <span class="text-06-04">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
        laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
        in
        vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
        accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
        feugait
        nulla facilisi
        <br>
        <br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
        laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
        in
        vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
        accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
    </span>

    <div class="d-flex flex-md-row gap-3 justify-content-between">
        <div class="d-flex align-items-start pt-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="38" viewBox="0 0 40 38" fill="none">
                <path
                    d="M27.4598 38L24.1036 34.5021C25.7308 31.5342 27.1547 28.5662 28.3752 25.5983C29.5957 22.7364 30.3076 19.9275 30.511 17.1715L22.8831 15.4226V0H39.3594L39.3594 11.1297C39.3594 17.7015 38.1389 23.0014 35.698 27.0293C33.1553 31.1632 30.4093 34.8201 27.4598 38ZM4.57612 38L1.21984 34.5021C2.84713 31.5342 4.271 28.5662 5.49147 25.5983C6.71193 22.7364 7.42387 19.9275 7.62728 17.1715L-0.00062561 15.4226L-0.00062561 0L16.4757 0V11.1297C16.4757 17.7015 15.2552 23.0014 12.8143 27.0293C10.2716 31.1632 7.52558 34.8201 4.57612 38Z"
                    fill="#A9A9A9" />
            </svg>
        </div>
        <span class="text-h2-01">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
        </span>
    </div>
    <span class="text-06-04">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
        laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
        <br>
        <br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
        laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
        in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
    </span>
    <div class="d-flex flex-column gap-3 justify-content-start align-items-start">
        <span class="text-h2-01" style="font-style: normal;">Lorem ipsum dolor sit amet</span>

        <span class="text-06-04">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
            dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
        </span>
        <span class="text-06-04">
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetuer</li>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing</li>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit </li>
            </ul>
        </span>
        <span class="text-06-04">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
            dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
            facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
            delenit augue duis dolore te feugait nulla facilisi.
        </span>
    </div>

    <button class="btn-primary-custom" id="btn-login" style="width: 100%;">
        <span class="text-01">VIEW COMMENTS (0)</span>
    </button>
</div>