<div class="slide-in-right">
    <span class="text-06-04">
        What is the Great Blue Hole?
    
        Located off the coast of Belize, in South America’s eastern coast, the Great Blue Hole attracts tourists from all over the world, who arrive very intrigued by it and ready to uncover its mysteries through diving and snorkeling. 
        
        The Great Blue Hole forms a perfect circle amidst what’s known as the Lighthouse Reef and is part of the Belize Barrier Reef Reserve System, which was declared a World Heritage Site by UNESCO. 
        
        This giant underwater sinkhole is located in the lighthouse reef atoll -which is one of Belize’s three atolls- and is believed to have been formed by the collapse of a cavern formed during the glacial ages.
        
        The folks at Marine Insight created the following graphic that explains it very well:
        
    
    </span>
</div>
