<div class="slide-in-right">
<span class="text-06-04">
    Fascinating Facts about the Great Blue Hole

    It’s the world’s largest sea hole!
    It was born 153,000 years ago and completed its creation 15,000 years ago when it assumed the shape it has today.
    Its name was given by British diver Ned Middleton. 
    In 2012, the Discovery Channel ranked the Belize Blue Hole as the #1 most amazing place on Earth.
    It’s home to many shark species including Caribbean reef sharks, nurse sharks, hammerheads, bull sharks, and black tip sharks!
    In 1836, on his travels around the world, Charles Darwin visited the Belize Barrier Reef and declared it the Caribbean’s “most remarkable coral reefs”.
    The water in it looks like it's blue, hence the name, but it’s in fact black as ink!
    Only divers who have completed at least 24 divers are allowed to explore it.
    Its surface is affected by waves and activities originating from above it and due to its strong currents, which means that even though it appears to have only one opening at its surface, it has at least 10!
    Divers who have explored it say the temperature at its deepest is freezing cold!
    

</span>
</div>