$primary-color: #054063;
$secondary-color: #00705D;
$tertiary-color: #006E7A;

$grey-scale-900: #212121;
$grey-scale-800: #424242;
$grey-scale-700: #565656;
$grey-scale-600: #757575;
$grey-scale-500: #9E9E9E;
$grey-scale-400: #BDBDBD;
$grey-scale-300: #E0E0E0;
$grey-scale-200: #EEEEEE;
$grey-scale-100: #F5F5F5;
$grey-scale-50: #FAFAFA;

$dark-color-01: #181A20;
$dark-color-02: #1F222A;
$dark-color-03: #35383F;


$font-family-lora: 'Lora', serif;
$font-weight-lora-bold: 700;
$font-weight-lora-semi-bold: 600;
$font-weight-lora-medium: 500;
$font-weight-lora-regular: 400;

$font-family-hind: 'Hind', sans-serif;
$font-weight-hind-bold: 700;
$font-weight-hind-semi-bold: 600;
$font-weight-hind-medium: 500;
$font-weight-hind-regular: 400;


